<header class="site-header">
  <div class="header-inner">
    <a href="{{ '/' | relative_url }}" class="site-brand">
      <img
        src="{{ '/assets/chizmeeple-250x250.png' | relative_url }}"
        alt=""
        class="site-logo"
      />
      <div class="site-brand-text">
        <span class="site-title"
          >chizmeeple<span class="site-title-tld">.uk</span></span
        >
        <span class="site-tagline">Board games &amp; good company</span>
      </div>
    </a>
    {% include nav-menu.html %}
  </div>
</header>
